.App {
  text-align: center;
  /* height: 100%;
  display: flex;
  flex-direction: column; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'RobotoMono-Light';
  src: local('RobotoMono-Light'), url(./fonts/RobotoMono-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Medium';
  src: local('RobotoMono-Medium'), url(./fonts/RobotoMono-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: local('BebasNeue-Regular'), url(./fonts/BebasNeue-Regular.ttf) format('truetype');
}